<section class="contact-list">

  <div class="contact-count">
    <p>There are <span class="contact-count-number"><%= @contacts.length %></span> contacts.</p>
  </div>

  <% @contacts.each do |contact| %>
    <article class="contact-card">
      <p class="contact-name-email"><%= contact.full_name %> (<%= contact.email %>)</p>
      <p class="contact-edit"><a href="#">Edit</a></p>
      <span>|</span>
      <p class="contact-delete"><a href="#">Delete</a></p>
    </article>
  <% end %>

</section>
