<h1>Create a New Contact</h1>

<form action="/contacts" method="post">
  <input type="text" name="first_name" value="">
  <input type="text" name="last_name" value="">
  <input type="text" name="email" value="">
  <input type="text" name="note" value="">
  <input type="submit" value="New Contact">
</form>
