*,
::before,
::after {
  box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* main header */
.main-header {
    text-align: center;
    background-color: #3e3838;
    color: white;
}

.main-header > h1 {
    padding: 10px;
    margin: 0;
}

/* main nav bar */
.main-nav ul {
    margin: 0;
    padding: 0;
}

.main-nav li {
  text-align: center;
  list-style-type: none;
  background-color: #d4cbcb;
  margin: 0 0 1px;
  padding: 5px 0;
  font-size: 18px;
}

.main-nav a {
  color: white;
  text-decoration: none;
}

/* footer */
.footer-bar {
    text-align: center;
    color: white;
    background-color: #3e3838;
    padding: 10px 0;
}

/*------
 contacts.erb styling
 ------- */

/* styles for contact count header section */
.contact-count {
    background-color: #b8deff;
    padding: 15px;
}

.contact-count p {
    margin: 0;
}

/* bold and underline the contact count */
span.contact-count-number {
    font-weight: 600;
    text-decoration: underline white;
}

/* contact card */
article.contact-card {
    background-color: aliceblue;
    padding: 15px;
    margin:  10px 0;
}

p.contact-name-email {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

p.contact-options {
    display: inline-block;
    margin: 8px 0;
}
